<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jhsns.Sns.dislike.repository.DisLikeRepository">
    <insert id="insertDisLike" parameterType="map">
        INSERT INTO
            `like`
        (
            `postId`
            , `userId`
        )
        VALUE
        (
            #{postId}
            , #{userId}
        )
    </insert>
    
    <select id="selectAllDisLike" parameterType="int">
        SELECT
          COUNT(*)
        FROM 
          `like`
         WHERE `postId` = #{postId}
    </select>
    
    <select id="countByUserIdAndPostId" parameterType="map">
      SELECT
          COUNT(*)
        FROM 
          `like`
         WHERE `userId` = #{userId} AND `postId` = #{postId}
    </select>
 </mapper>