<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jhsns.Sns.user.repository.UserRepository">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO
 			`userSns`
 		(
 			`loginId`
 			, `password`
 			, `name`
 			, `phone`
 			, `email`
 		)
 		VALUE
 		(
 			#{loginId}
 			, #{password}
 			, #{name}
 			, #{phone}
 			, #{email}
 		)
 	</insert>
 	
 	<select id="selectLogin" parameterType="map" resultType="com.jhsns.Sns.user.domain.User">
 	  SELECT
 	      `id`
 	      , `loginId`
 	      , `password`
 	      , `name`
 	      , `phone`
 	      , `email`
 	      , `createdAt`
 	      , `updatedAt`
 	  FROM
 	      `userSns`
 	  WHERE
 	      `loginId` = #{loginId}
 	      AND
 	      `password` = #{password}
 	</select>
 	
 	<select id="selectUserById" parameterType="int" resultType="com.jhsns.Sns.user.domain.User">
 	  SELECT
 	       `id`
          , `loginId`
          , `password`
          , `name`
          , `phone`
          , `email`
          , `createdAt`
          , `updatedAt`
      FROM
          `userSns`
      WHERE
        `id` = #{id}
 	</select>
 	
 	<select id="countById" parameterType="string">
 	  SELECT
        count(*)
      FROM
          `userSns`
      WHERE
        `loginId` = #{loginId}
 	</select>
 </mapper>