<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/postDefault}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<title>게시글 타임라인</title>
</head>
<body>
    <div id="wrap" layout:fragment="timeline-contents" class="bg-dark"> 
        <section class="d-flex" th:each="card:${cardViewList}">
            <div id="noneUseList1"></div>
            <div id="myList" class="">
                <div th:if="${card.userId} == ${session.userId}" class="mt-2 user-title bg-info d-flex justify-content-between align-items-center">
                   <span></span>
                   <h3 th:text="${card.title}" class="ml-5">제목</h3>
                   <div class="mr-3 d-flex align-items-center deleteInput" data-toggle="modal" data-target="#deleteBtn" th:data-post-id="${card.postId}" th:data-image-path="${card.imagePath}" th:data-title="${card.title}" th:data-userid="${card.userId}" th:data-realuser="${session.userId}" th:if="${card.userId} == ${session.userId}">                     
                       <i class="bi bi-list moreBtn"></i>
                   </div>
                </div>
                <div th:unless="${card.userId} == ${session.userId}" class="mt-2 user-title bg-info d-flex justify-content-center align-items-center">
                    <h3 th:text="${card.title}" class="ml-5">제목</h3>                
                </div>
                <div class="mt-5 d-flex user-contents">
                    <div class="user-picture bg-secondary">
                    	<img th:src="${card.imagePath}" width="600px" height="350px">   
                    </div>
                    <div class="user-comments bg-light">
                    	<div th:text="${card.comments}"></div>
                    </div>
                </div>
                
                <div class="commentsList bg-light mt-5">
                    <div class="goodAndHate d-flex">
                       <div class="ml-2 d-flex justify-content-center align-items-center like" th:data-post-id="${card.postId}" th:data-like-check="${card.isLike}">
                            <img width="50px" height="50px" th:unless=${card.isLike} th:id="'good' + ${card.postId}" src="https://cdn-icons-png.flaticon.com/128/2415/2415237.png">
                            <img width="50px" height="50px" th:if=${card.isLike} th:id="'good' + ${card.postId}" src="https://cdn-icons-png.flaticon.com/128/5881/5881249.png">
                       </div> 
                       <div id="goodCnt">
                            <label class="mt-3 ml-3">좋아요</label><br>
                            <label class="mt-1 ml-3" th:text="${card.likeCount}">123</label>
                       </div> 
                       <div class="d-flex justify-content-center align-items-center disLike" th:data-post-id="${card.postId}" th:data-dislike-check="${card.isDisLike}">
                            <img width="50px" height="50px" th:unless=${card.isDisLike} th:id="'hate' + ${card.postId}" src="https://cdn-icons-png.flaticon.com/128/11247/11247236.png">
                            <img width="50px" height="50px" th:if=${card.isDisLike} th:id="'hate' + ${card.postId}" src="https://cdn-icons-png.flaticon.com/128/8433/8433944.png">
                       </div> 
                       <div id="hateCnt">
                            <label class="mt-3 ml-3">싫어요</label><br>
                            <label class="mt-1 ml-3" th:text="${card.disLikeCount}">10</label>
                       </div> 
                    </div>
                    
                    <div class="otherCommentsList" th:each="comments:${commentsList}">
                        <div class="otherUser d-flex">
                            <div class="mt-2 otherProfilePicture">
                            	<img th:if="${comments.postId} == ${card.postId}" width="100px" src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_640.png">
                            </div>
                            <div class="ml-3 mt-2 otherUserInfo">
                                <div class="otherUserName bg-success" th:if="${comments.postId} == ${card.postId}" th:text="${'이름 : ' + comments.userName}"></div>
                                <div class="otherUsercomments bg-warning"  th:if="${comments.postId} == ${card.postId}" th:text="${'댓글 : ' + comments.comments}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="commentsInput mt-5 d-flex">
	               <input class="form-control timeLine-text" th:id ="'textinput' + ${card.postId}"></input> 
	               <button type="button" class="btn btn-secondary btn-lg col-2 h-25 addBtn" th:data-post-id="${card.postId}">댓글 등록</button>               	
                </div>
            </div>
            <div id="noneUseList2"></div>
        </section>
        <footer class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-secondary btn-lg col-2" id="moveBtn">내 게시글</button>
        </footer>
    </div> 
    
	<!-- Modal -->
	
	<div class="modal fade" id="deleteBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	   <div class="modal-dialog" role="document">
	       <div class="modal-content">
	           <div class="modal-body">
	               <h5>게시물을 삭제하시겠습니까?</h5>
	           </div>
	           <div class="modal-footer">
	               <a href="/post/delete">삭제하기</a>
	           </div>
	       </div>
       </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <script layout:fragment="script">
    	$(document).ready(function(){
    		$("#moveBtn").on("click", function(){
    			location.href = "/post/list-view";
    		});
    		    		
    		$(".deleteInput").on("click", function(){
    			let title = $(this).data("title");
    			
    			let postId = $(this).data("post-id");
    			
    			// 확인용
    			/*
    			let userId = $(this).data("userid");
    			let realuser = $(this).data("realuser");
    			*/
    			let imagePath = $(this).data("image-path");
    			
    			
    			
    			
    			
    			$.ajax({
                    type:"delete"
                    , url:"/post/delete"
                    , data:{"title":title, "imagePath":imagePath, "postId":postId}
                    , success:function(data)
                    {
                        if(data.result == "success")
                        {
                            location.reload();
                        }
                        else 
                        {
                            alert("삭제 실패");
                        }
                    }
                    , error:function()
                    {
                        alert("삭제 에러 발생");
                    }
                });
    		});
    		
    		$(".like").on("click", function(){
    			let post = $(this).data("post-id");
    			
    			//let likeNum = "good" + post;
    		    
    			let likeCheck = $(this).data("like-check");
    			
    			// 좋아요 클릭시 아이콘 변경
    			if($("#good" + post).attr("src", "https://cdn-icons-png.flaticon.com/128/2415/2415237.png"))
    			{
	    			$("#good" + post).attr("src", "https://cdn-icons-png.flaticon.com/128/5881/5881249.png");
    			}
    			
    			if(!likeCheck)
    			{
    				$.ajax({
                        type:"post"
                        , url:"/post/like"
                        , data:{"postId":post}
                        , success:function(data)
                        {
                            if(data.result == "success")
                            {
                                locaton.reload();
                            }
                            else
                            {
                                alert("좋아요 클릭 실패");
                            }
                        }
                        , error:function()
                        {
                            alert("좋아요 클릭 에러발생");
                        }
                    });
    			}
    			else if(likeCheck)
    			{
    				$.ajax({
                        type:"post"
                        , url:"/post/unlike"
                        , data:{"postId":post}
                        , success:function(data)
                        {
                            if(data.result == "success")
                            {
                                locaton.reload();
                            }
                            else
                            {
                                alert("좋아요 클릭 실패");
                            }
                        }
                        , error:function()
                        {
                            alert("좋아요 클릭 에러발생");
                        }
                    });
    			}
    		});
    		
    		$(".disLike").on("click", function(){
    			  let post = $(this).data("post-id");	
    			  
    			  let likeCheck = $(this).data("dislike-check");
    			  
    			  if($("hate" + post).attr("src", "https://cdn-icons-png.flaticon.com/128/11247/11247236.png"))
      			  {
  	    		  	$("#hate" + post).attr("src", "https://cdn-icons-png.flaticon.com/128/8433/8433944.png");
      			  }
    			  
    			  if(!likeCheck)
    			  {
    				  $.ajax({
                          type:"post"
                          , url:"/post/dislike"
                          , data:{"postId":post}
                          , success:function(data)
                          {
                              if(data.result == "success")
                              {
                                  locaton.reload();
                              }
                              else
                              {
                                  alert("좋아요 클릭 실패");
                              }
                          }
                          , error:function()
                          {
                              alert("좋아요 클릭 에러발생");
                          }
                      });
    			  }
    			  else if(likeCheck)
      			  {
      				$.ajax({
                          type:"post"
                          , url:"/post/undislike"
                          , data:{"postId":post}
                          , success:function(data)
                          {
                              if(data.result == "success")
                              {
                                  locaton.reload();
                              }
                              else
                              {
                                  alert("싫어요 클릭 실패");
                              }
                          }
                          , error:function()
                          {
                              alert("싫어요 클릭 에러발생");
                          }
                      });
      			  }
    		});
    		
    		$(".addBtn").on("click", function(){
    			let post = $(this).data("post-id");
 
    			<!-- 상위태그로 접근하는 방식 -->
    			// let text = $(this).prev().val();
    		  
    			let text = $("#textinput" + post).val();
    			    			   			
    			$.ajax({
    				type:"post"
    				, url:"/post/create-comment"
    				, data:{"postId": post,"comments":text}
    				, success:function(data)
    				{
    					if(data.result == "success")
    					{
    						location.reload();
    					}
    					else
    					{
    						alert("댓글 추가 실패");
    					}
    				}
    				, error:function()
    				{
    					alert("댓글 추가 에러발생");
    				}
    			});    		
    		});
    	});
    </script>
</body>
</html>