<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<title>회원가입</title>
</head>
<body>
    <section layout:fragment="contents" class="contents bg-dark">
        <div id="noneArea"></div>
        <div id="main" class="d-flex">
            <div id="noneUse1"></div>
            <div id="useArea">
                <label class="idSpace mt-3">ID</label><br>
                <div class="d-flex justify-content-center">
	                <input type="text" class="form-control col-6" id="idInput">
                </div>             
                <label class="idSpace mt-3">Password</label><br>
                <div class="d-flex justify-content-center">
                    <input type="password" class="form-control col-6" id="passwordInput">                
                </div>
                <label class="idSpace mt-3">PW Check</label><br>
                <div class="d-flex justify-content-center">
                    <input type="password" class="form-control col-6" id="passwordCheckInput">                
                </div>
                <label class="idSpace mt-3">Name</label><br>
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control col-6" id="nameInput">                
                </div>
                <label class="idSpace mt-3">Phone</label><br>
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control col-6" id="phoneInput">                
                </div>
                <label class="idSpace mt-3">Email</label><br>
                <div class="d-flex justify-content-center">
                    <input type="text" class="form-control col-6" id="emailInput">                
                </div>
            </div>
            <div id="noneUse2">
            	<button type="button" class="btn btn-secondary duplicatedId" id="checkDuplicatedId">중복확인</button>
            </div>
        </div>
        <div id="responseBtn" class=" d-flex">
            <div id="noneBtn1"></div>
            <div id="inputBtn">
                <button type="button" class="btn btn-secondary btn-block mt-3" id="joinBtn">회원가입</button>
            </div>
        </div>
    </section>
    
    <script layout:fragment="script">
    	$(document).ready(function(){
    		var isDuplicated = true;
    		var duplicatedCheck = false;
    		
    		$("#joinBtn").on("click", function(){
    			let id = $("#idInput").val();
    			let password = $("#passwordInput").val();
    			let passwordCheck = $("#passwordCheckInput").val();
    			let name = $("#nameInput").val();
    			let phone = $("#phoneInput").val();
    			let email = $("#emailInput").val();
    			
    			 if(id == "")
                 {
                     alert("아이디를 입력하세요.");
                     return;
                 }
                 if(password == "")
                 {
                     alert("비밀번호를 입력하세요.");
                     return;
                 }
                 if(password != passwordCheck)
                 {
                     alert("비밀번호가 일치하지않습니다.");
                     return;
                 }
                 if(name == "")
                 {
                     alert("이름을 입력하세요.");
                     return;
                 }
                 if(phone == "")
                 {
                     alert("전화번호를 입력하세요.");
                     return;
                 }
                 if(email == "")
                 {
                     alert("이메일을 입력하세요.");
                     return;
                 }
                 
                 if(isDuplicated && duplicatedCheck)
                 {
                	 alert("아이디가 중복되었습니다.");
                 }
                 
                 if(!duplicatedCheck)
                 {
                	 alert("중복확인 버튼을 눌러주세요.");
                 }
                                  
                 if(!isDuplicated)
               	 {
	                 $.ajax({
	                	 type:"post"
	                	 , url:"/user/join"
	                	 , data:{"loginId":id, "password":password, "name":name, "phone":phone, "email":email}
	                 	 , success:function(data){
	                 		 if(data.result == "success")
	                 		 {
	                 			alert("회원가입 완료");
	                 			location.href="/user/login-view";
	                 		 }
	                 		 else
	                 		 {
	                 			 alert("회원가입 실패");
	                 		 }
	                 	 }	
	                 	 , error:function()
	                 	 {
	                 		 alert("회원가입 에러");
	                 	 }
	                 });                                   	 
               	 }
    		});
    		
    		$("#checkDuplicatedId").on("click", function(){
    			let id = $("#idInput").val();
    			duplicatedCheck = true;
    			
    			$.ajax({
    				type:"post"
    				, url:"/user/duplicate"
    				, data:{"loginId":id}
    		        , success:function(data)
    		        {
    		        	if(data.result == "success")
    		        	{
    		        		isDuplicated = false;
    		        		alert("중복되지 않은 아이디 입니다.");
    		        	}
    		        	else
    		        	{   		        		
    		        		alert("중복된 아이디입니다.");
    		        	}
    		        }
    		        , error:function()
    		        {
    		        	alert("중복확인 에러");
    		        }
    			});
    		});
    	});
    </script>
