<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
   	<section layout:fragment="contents" class="contents bg-dark">
   		<form id="loginForm">
        <div id="noneArea"></div>
        <div id="main" class="d-flex">
            <div id="noneUse1"></div>
            <div id="useArea">
                <label class="idSpace mt-3">ID</label><br>
                <div class="d-flex justify-content-center">
	                <input type="text" placeholder="InsertID" class="form-control col-6" id="loginIdInput">                
                </div>
                <label class="idSpace mt-3">Password</label><br>
                <div class="d-flex justify-content-center">
                    <input type="password" placeholder="InsertPW" class="form-control col-6" id="passwordInput">                
                </div>
            </div>
            <div id="noneUse2"></div>
        </div>
        <div id="responseBtn" class=" d-flex">
            <div id="noneBtn1"></div>
            <div id="inputBtn">
                <button type="submit" class="btn btn-secondary mt-4 loginBtn">로그인</button>
                <button type="button" class="btn btn-secondary mt-4 joinBtn" onclick="location.href='/user/join-view'">회원가입</button>
            </div>
        </div>
        </form>
   	</section>
    
    <script layout:fragment="script">
        $(document).ready(function(){
        	$("#loginForm").on("submit", function(e){
        		e.preventDefault();
        		
        		let loginId = $("#loginIdInput").val();
        		let password = $("#passwordInput").val();
        		
        		if(loginId == "")
        		{
        			alert("아이디를 입력하세요.");
        		}
        		if(password == "")
        		{
        			alert("비밀번호를 입력하세요.");
        		}
        		
        		$.ajax({
        			type:"post"
        			, url:"/user/login"
        			, data:{"loginId":loginId, "password":password}
        		    , success:function(data){
        		    	if(data.result == "success")
        		    	{
        		    		location.href="/post/list-view";
        		    	}
        		    	else
        		    	{
        		    		alert("로그인 실패");
        		    	}
        		    }
        		    , error:function()
        		    {
        		    	alert("로그인 에러발생");
        		    }
        		});
        	});
        });
    </script>
</html>