@charset "UTF-8";

#wrap
{
	width : 1200px;
	height : 900px;
	margin : 0 auto;
}

header
{
	height : 70px;
}

section
{
	height : 700px;
}

section > #noneArea1
{
	width : 100px;
}

section > #noneArea2
{
    width : 100px;
}

section > #realArea
{
	width : 1000px;
}
footer
{
	height :  70px;
}