@charset "UTF-8";

#wrap
{
	width : 1200px;
	height : 1000px;
	margin : 0 auto;
}

header
{
	height : 100px;
}

#banner
{
	height : 200px;
}

#noneArea
{
	height : 75px;
}

#responseBtn
{
	height : 100px;
}

#main > #noneUse1
{
	width : 300px;
}

#main > #useArea
{
    width : 800px;
}

#useArea > .idSpace
{
	position : relative;
	left : 170px;
	color : white;
}

#main > #noneUse2
{
    width : 300px;
}

#responseBtn > #noneBtn1
{
	width : 258px;
}

#responseBtn > #inputBtn
{
	width : 684px;
}

footer
{
	height : 100px;
}