@charset "UTF-8";

#wrap
{
	width : 1200px;
	margin : 0 auto;
}

header
{
	height : 100px;
}

#banner
{
	height : 200px;
}

#noneArea
{
	height : 75px;
}

#responseBtn
{
	height : 100px;
}

#main > #noneUse1
{
	width : 300px;
}

#main > #useArea
{
    width : 800px;
}

#useArea > .idSpace
{
	position : relative;
	left : 170px;
	color : white;
}

#main > #noneUse2
{
    width : 300px;
}

#noneUse2 > .duplicatedId
{
	position : relative;
	top : 47px;
	right : 150px;
}

#responseBtn > #noneBtn1
{
	width : 258px;
}

#responseBtn > #inputBtn
{
	width : 684px;
}

.loginBtn
{
	position : relative;
	left : 170px;
}

.joinBtn
{
	position : relative;
	left : 340px;
}

footer
{
	height : 100px;
}